{% extends "base.html" %}
{% load static %}
{% block title %}
MY BLOG
{% endblock %}

{%block css_files%}
<link rel="stylesheet" href="{% static "blog/includes/post.css"%}">
<link rel="stylesheet" href="{% static "blog/index.css"%}">


{% endblock %}

{% block content%}

<section id="welcome">
    <header>
        <img class="my_pic" src="{% static "blog/images/nandhu.png" %}" alt="Nandhana-The Author Of This Blog">
        <h2>"Inspire And Be Inspired"</h2>
    </header>
        <p>Hi, I am Nandhana and I love to blog about anything that inspires me or makes me happy!!</p>

</section>
<section id="latest-post">
    <h2>My Latest Thoughts </h2>
    <ul>
        {%for post in posts%}
            {% include "blog/includes/post.html"%}
        {%endfor%}
    </ul>
</section>
<section id="about">
    <h2>About Me</h2>
    <p>Hi there! I'm a 4th year Computer Science B.Tech student with a passion for programming. Beyond coding, I have a keen interest in sports and love spending time in the kitchen experimenting with new recipes. Welcome to my blog!</p>
    <p>My goal is to inspire my readers through my blogs while continuing to grow as a software developer.</p>
    {% endblock %}