#latest-post .post {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    border-bottom: 2px solid #ffcccb; /* Baby Pink */
    padding-bottom: 20px;
}

#latest-post .post img {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 8px;
    border: 3px solid #f8c471; /* Yellow */
    transition: transform 0.3s ease-in-out;
}

#latest-post .post img:hover {
    transform: scale(1.05);
}

#latest-post .post__content {
    flex: 1;
}

#latest-post .post h3 {
    margin: 0;
    color: #add8e6; /* Baby Blue */
    font-size: 1.5em;
}

#latest-post .post p {
    margin: 10px 0;
    color: #555;
}
